#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* News Page  */

.news-article {
  width: 300px;
  border: 0.5px solid white;
  border-top: none;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}

.news-image {
  width: 100%;
  border-radius: 1rem;
}

.news-para {
  height: 120px;
  text-align: start;
}

.news-buttons {
  display: flex;
  justify-content: space-between;
}

.news-container {
  display: flex;
  /* gap: 2rem; */
  justify-content: start;
  flex-wrap: wrap;
}
